<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".editprofile"
            android:exported="false" />
        <activity
            android:name=".donationDone"
            android:exported="false" />
        <activity
            android:name=".signupGiver"
            android:exported="true" />
        <activity
            android:name=".welcomepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".giverfeed"
            android:exported="false" />
        <activity
            android:name=".givermessage"
            android:exported="true" />
        <activity
            android:name=".donatepost"
            android:exported="false" />
        <activity
            android:name=".logingiver"
            android:exported="false" />
        <activity
            android:name=".homegiver"
            android:exported="false" />
        <activity
            android:name=".requestdone"
            android:exported="false" />
        <activity
            android:name=".message"
            android:exported="false" />
        <activity
            android:name=".createreq"
            android:exported="true" />
        <activity
            android:name=".feed"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".start"
            android:exported="true" />
    </application>

</manifest>